.feedback--container {
    max-width: 50rem;
    padding-top: 1rem !important;
    .card {
        width: 320px;
        background: #fff;
        // padding:16px;
        border-radius: 20px;
        overflow: hidden;
        &__item {
            display: flex;
            align-items: center;
            padding: 14px;
            cursor: pointer;

            img {
                width: 50px;
                height: 50px;
                object-fit: cover;
                border-radius: 50%;
                margin-right: 12px;
            }
            &-info {
                overflow: hidden;
                flex: 1;
                display: flex;
                position: relative;
                h3 {
                    font-size: 14px;
                    font-weight: 500;
                }
                p {
                    color: #9597a1;
                    font-size: 12px;
                }
                &__meta {
                    margin-left: auto;
                    p {
                        font-size: 10px;
                    }
                    span {
                        display: block;
                        width: 16px;
                        height: 16px;
                        border-radius: 50%;
                        background: #5458f7;
                        font-size: 10px;
                        font-weight: 400;
                        color: #fff;
                        display: grid;
                        place-content: center;
                    }
                }
            }
        }
    }
}
.card__item.sent .card__item-info {
    .message--box {
        h3 {
            color: rgb(61, 59, 59);
            font-size: 1rem;
            text-align: left;
            position: absolute;
            top: 1rem;
            right: 1rem;
            margin-bottom: 0;
        }
        p {
            margin-top: 1rem;
            color: rgb(35, 35, 39);
            font-size: 1.2rem;
            margin-bottom: 0;
        }
    }
}
.card__item.received .card__item-info {
    display: flex;
    align-items: center;

    .message--box {
        position: relative;
    }
    h3 {
        color: rgb(61, 59, 59);
        text-align: left;
        position: absolute;
        top: 1rem;
        left: 1rem;
        margin-bottom: 0;
    }
    p {
        margin-top: 0;
        color: rgb(35, 35, 39);
        font-size: 1.2rem;
        margin-bottom: 0;
    }
}
.card__item.sent .card__item-info {
    display: flex;
    align-items: center;
    flex-direction: row-reverse;
    position: relative;
    align-items: center;

    .feedback--time {
        position: absolute;
        left: 0;
        top: 5px;
    }
    .message--box {
        position: relative;
    }
    h3 {
        color: rgb(61, 59, 59);
        text-align: right;
        position: absolute;
        top: 0;
        right: 1rem;
        margin-bottom: 0;
    }

    // h3 {
    //     color: rgb(61, 59, 59);
    //     font-size: 1rem;
    //     text-align: right;
    //     position: absolute;
    //     top: 1rem;
    //     right: 1rem;
    //     margin-bottom: 0;
    // }
    p {
        margin-top: 1rem;
        color: rgb(35, 35, 39);
        font-size: 1.2rem;
        margin-top: 0;
        margin-bottom: 0;
    }
}
.card__item {
    display: flex;
    align-items: center;
}
.card__item.message.sent {
    display: flex;
    //justify-content: space-between;
    width: 100%;
}

.message--box {
    display: flex;
    align-items: center;
}

// .feedback--comment {
//     font-weight: lighter;
// }

.feedback--time {
    font-weight: 100;
    font-size: 1rem;
    margin: 0;
}

.card__item.message img {
    margin: 0;
}

.day-heading {
    color: red;
}

// .feedback--header {
//     color: black !important;
//     background-color: #5458f7 !important;
// }

.feedback--header {
    background-color: rgb(18, 28, 46) !important;
    width: 100%;
    height: 5rem;
    //position: absolute;
    top: 0;
    left: 0;
}

.feedback--container {
    border: 1px solid white;
    position: relative;
    box-shadow: 0 10px 16px 0 rgba(0, 0, 0, 0.2),
        0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 4px;
    padding: 3rem;
    padding-top: 7rem;
    position: absolute;
    background-color: white;
    width: 40rem;
    right: 129px;
    top: 74px;
    z-index: 100;
    h2 {
        text-align: center;
        color: white;
        padding: 1.5rem;
        //padding: 2rem;
    }
    .one--message--container {
        display: flex;
    }
    p {
        padding: 1rem;
    }
}
.feedback--container.student-view {
    right: 135px !important;
}
